# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


*.idea
src/ex00/Spring/*.idea
src/ex00/Spring/target
src/ex00/Spring/*.iml

src/ex01/Spring/target/
src/ex01/Spring/.DS_Store
src/ex01/.DS_Store

src/ex01/Spring/*.idea
src/ex01/Spring/target
src/ex01/Spring/*.iml
src/ex01/Spring/target/
src/ex01/Spring/.DS_Store
src/ex01/.DS_Store

src/ex02/Spring/*.idea
src/ex02/Spring/target
src/ex02/Spring/*.iml
src/ex02/Spring/target/
src/ex02/Spring/.DS_Store
src/ex02/.DS_Store
