# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*.idea
ex00/*.idea
*.idea
ex00/Tests/*.idea
ex00/Tests/target
ex00/Tests/*.iml
Tests/target/
day_06/src/ex01/Tests/*.idea
day_06/src/ex01/Tests/target
day_06/src/ex01/Tests/*.iml
day_06/src/ex01/Tests/target/
day_06/src/ex01/Tests/.DS_Store
day_06/src/ex01/.DS_Store
